<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   <context:annotation-config/>
   <context:component-scan 
               base-package="
               com.ibm.Spring.services" />
   
<!--     <bean id="textEditor" class="com.ibm.Spring.beans.TextEditor"> -->
<!--    </bean> -->
   
<!--    <bean id="spellChecker1" class="com.ibm.Spring.beans.SpellChecker"> -->
<!--        <property name="id" value="1"/> -->
<!--    </bean> -->
   
<!--    <bean id="spellChecker2" class="com.ibm.Spring.beans.SpellChecker"> -->
<!--        <property name="id" value="2"/> -->
<!--    </bean> -->
   
   
<!--    <bean id="javaCollection" -->
<!--    class = "com.ibm.Spring.beans.JavaCollection"> -->
   
<!--    <property name="addressList"> -->
<!--    <list> -->
<!--      <value>INDIA</value> -->
<!--      <value>CANADA</value> -->
<!--      <value>USA</value> -->
<!--      <value>USA</value> -->
<!--    </list> -->
<!--    </property> -->
   
<!--    <property name="addressSet"> -->
<!--    <set> -->
<!--      <value>INDIA</value> -->
<!--      <value>CANADA</value> -->
<!--      <value>USA</value> -->
<!--      <value>USA</value> -->
<!--    </set> -->
<!--    </property> -->
   
<!--    <property name="addressMap"> -->
<!--    <map> -->
<!--    <entry key="1" value="INDIA" /> -->
<!--    <entry key="2" value="CANADA" /> -->
<!--    <entry key="3" value="USA" /> -->
<!--    <entry key="4" value="USA" /> -->
<!--    </map> -->
<!--    </property> -->
   
<!--    <property name="addressProp"> -->
<!--    <props> -->
<!--    <prop key="one">INDIA</prop> -->
<!--    <prop key="two">CANADA</prop> -->
<!--    <prop key="three">USA</prop> -->
<!--    <prop key="four">USA</prop> -->
<!--    </props> -->
<!--    </property> -->
<!--    </bean> -->
  </beans>